---
import Layout from "../../layouts/Layout.astro";
import Story from "../../components/Story.astro";
export const getStaticPaths = async () => {
  const posts = await Astro.glob("../../content/flash-fiction/*.md");

  return posts.map((post) => {
    const { title, date, story } = post.frontmatter;
    const { Content } = post;
    return {
      params: { story },
      props: { title, date, Content },
    };
  });
};
const { title, date, Content } = Astro.props;
const classes = {
  mt6: "mt-6",
  isHidden: "is-hidden",
};
---

<Layout title={title} theme="is-light" logo="/logo_black.png">
  <article class="section">
    <main class="content">
      <Story title={title} date={date} storyClasses={classes}>
        <Content />
      </Story>
    </main>
  </article>
</Layout>
