---
import Banner from "../../components/Banner.astro";
import Layout from "../../layouts/Layout.astro";
import logo from "/flash-image.png";
---

<Layout
  title="TC | Flash-fiction"
  theme="is-white has-shadow"
  logo="/logo_black.png"
>
  <Banner thumbnail={logo} text="Flash fiction" color="has-text-black" />
  <style>
    .custom {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 95%;
      margin: 0 auto;
    }
  </style>
  <div class="section">
    <div class="container">
      <div class="card">
        <div class="card-header has-text-centered">
          <p class="card-header-title is-size-4">
            The dog factory
          </p>
        </div>
        <div class="card-content has-background-dark-light">
          <div class="content custom">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              natus labore omnis enim. Sit expedita odio eos quisquam, ad porro
              ut nesciunt odit recusandae in, repellat, repudiandae voluptate
              quibusdam fuga explicabo doloribus ducimus nobis deserunt? Saepe
              placeat labore deleniti facere adipisci aliquam impedit
              repudiandae doloribus ad aperiam distinctio, tenetur, officiis
              minima iste totam quas ea rem suscipit magnam nesciunt? Quidem aut
              quod, similique nisi omnis voluptatum corporis dolorum asperiores
              placeat quam minima quas officiis dolore inventore facilis
              reiciendis necessitatibus unde sed ex mollitia. Repudiandae
              numquam ipsum atque velit obcaecati iusto, suscipit impedit ullam
              officiis fuga, tenetur placeat. Quia asperiores distinctio debitis
              dolorem veniam reprehenderit, doloremque, blanditiis
            </p>

            <p>
              et earum quos provident, eaque eveniet soluta inventore nulla
              necessitatibus. Iusto eligendi quos dolore quaerat fuga sint
              cupiditate fugit similique sit dolorem impedit facere eum ipsum
              rerum labore, veritatis debitis natus illo aliquam adipisci? Ex
              earum expedita quas libero distinctio at quisquam quis eligendi
              possimus et nemo molestias praesentium impedit inventore harum,
              quia natus commodi eos dignissimos cum rem. Earum eius tempora
              delectus vel reprehenderit, voluptas enim expedita. Consectetur
              incidunt beatae ad! Dolor exercitationem consequatur laborum
              necessitatibus ullam quasi culpa laudantium, neque expedita
              cupiditate dolorem laboriosam sunt corporis maxime obcaecati
              magnam quo facilis beatae
            </p>

            <p>
              sed consectetur dolore ducimus earum at unde. Iste quia ipsam in
              qui culpa? Labore deleniti ipsum perferendis laudantium a maiores
              saepe dolorem amet molestias eos. Eos, amet neque veritatis nemo,
              sed tempora temporibus perspiciatis autem molestias iusto suscipit
              quae corporis vel at numquam distinctio ex commodi quidem? Vero
              dignissimos dolores, alias, pariatur dolore qui consequuntur omnis
              maiores dolorum eius veniam modi corrupti illo assumenda!
              Exercitationem recusandae consequatur ducimus quasi aperiam
              officia sunt aspernatur voluptates repellendus tenetur, vitae a
              molestiae, accusantium animi ratione quod consectetur dolores.
              Harum quis neque voluptas recusandae eveniet enim at deleniti
              commodi, quas iusto, facere maxime aliquam, molestias minima minus
              incidunt dolor fugit! Voluptatibus in consectetur ea, ullam
              sapiente possimus! Harum neque aut sunt natus rem autem quaerat,
              fugiat laudantium dolore, unde laborum odio numquam id saepe
              voluptas! Modi nostrum iusto quibusdam commodi amet officia minus
              voluptatibus nisi, alias odit laborum quod numquam at ratione eius
              architecto sed nam reiciendis dolor optio soluta debitis. Porro
              reiciendis facere exercitationem dolorem error quasi amet sed
              praesentium tenetur deleniti. Distinctio incidunt necessitatibus
              vel eaque laboriosam placeat asperiores et minima praesentium
              harum magni adipisci perferendis impedit hic, accusamus cum
              veritatis eligendi blanditiis? Ratione atque harum itaque
              laboriosam ex velit. Deserunt aspernatur
            </p> quam, provident distinctio ullam magni nesciunt tempore officiis
            quas. Qui nam perferendis vitae voluptatem pariatur est doloribus consectetur
            et odio magni. Ut quia fugit mollitia hic at natus ratione! Odit explicabo
            id impedit vitae, quo dolorem eum saepe molestiae voluptatem accusantium!
            At odio mollitia dolore, est, similique in suscipit recusandae vel, adipisci
            cupiditate labore eius pariatur. Veritatis perspiciatis unde qui, dolorem
            quia quaerat vel dolor optio ipsa ratione dicta quidem molestiae aspernatur
            quo commodi laudantium, consequuntur mollitia voluptatum aut atque velit
            praesentium! Ipsum quam unde dolorum eum debitis alias sit, neque eveniet
            eius nisi facere inventore consectetur aliquid nemo repellat quo modi
            dolore asperiores beatae praesentium quaerat consequuntur itaque nobis
            expedita. Voluptates unde in minus sint animi incidunt quisquam voluptas!
            Commodi veniam blanditiis iste ea, quae deleniti cumque, incidunt modi
            veritatis consequuntur maiores ullam alias tenetur, unde quas excepturi
            autem laborum nesciunt qui? Blanditiis iure perspiciatis explicabo quia
            laudantium velit voluptatum, libero ipsa. Porro fugit quibusdam quas
            necessitatibus eum ducimus. Dicta repudiandae aperiam non saepe voluptatibus,
            laudantium ex cumque tempore nam temporibus eveniet sequi labore itaque
            debitis consectetur quam, eligendi accusantium sunt perspiciatis velit
            officiis reprehenderit. Consequatur officiis eius non velit quibusdam
            accusamus quod sed dolores in. Quibusdam velit quis facere ab a explicabo
            veniam deleniti ducimus tempora eius atque natus, omnis expedita doloremque
            aspernatur. Quod minima mollitia blanditiis error iste ab obcaecati soluta
            ducimus, facilis repellat dolorum incidunt praesentium, sequi suscipit
            quae! Dicta ipsa sequi, numquam officia placeat perspiciatis non dolor
            nostrum laboriosam ipsum alias eum quasi sunt velit neque provident quo!
            Vero hic qui numquam corporis ea veniam accusamus odio excepturi? Itaque
            magni nisi ab? Provident odio exercitationem alias nostrum dignissimos
            placeat voluptates cumque, animi fuga tenetur blanditiis quo voluptatem
            neque assumenda nam saepe debitis vel! Alias optio autem expedita ipsa
            esse at dolor iusto eaque reiciendis, ratione repellat, architecto, perferendis
            sint explicabo? Eaque nihil sunt modi laboriosam magni eveniet mollitia
            amet reprehenderit beatae totam! Dolores, quos. Iure maiores dolores
            quia aliquam, sapiente autem perferendis reiciendis cupiditate culpa
            iusto iste ea, a quis, dolor voluptas deserunt eaque delectus ex labore!
            Officia laudantium molestiae similique eos reprehenderit assumenda odio
            repudiandae ipsam? Labore animi voluptate vel dolor mollitia delectus
            perferendis, expedita doloribus nisi maxime molestias quae magnam totam
            accusamus voluptates officia quod quis. Numquam cum quisquam necessitatibus
            maxime libero debitis sit. Voluptatum sapiente voluptas rerum reiciendis
            vero autem officiis quia nulla minima excepturi provident atque, eum
            adipisci? Officia ut consequatur quisquam laborum quod sapiente, fugiat
            sed unde architecto repellendus porro illum quaerat ducimus mollitia
            magni id totam reiciendis exercitationem numquam eius quas atque nisi.
            Placeat consequuntur id, blanditiis tempora exercitationem laudantium.
            Voluptatem placeat vero omnis illo recusandae commodi animi, at maxime
            possimus. Quae, vitae quo. Nemo facilis ab laudantium debitis rerum est
            maxime cum quibusdam explicabo eligendi repellat adipisci, alias delectus
            iusto sed minus enim architecto. Veritatis culpa ab eveniet sit temporibus
            quia, esse aut totam minus quibusdam possimus! Fuga enim esse laborum
            quod autem tempora mollitia temporibus tenetur cum dolore necessitatibus,
            dolorem accusamus. Exercitationem error delectus repellendus, quod, ex
            incidunt assumenda laboriosam nobis voluptate recusandae laborum unde
            nemo at saepe iusto impedit in molestiae veritatis quidem necessitatibus
            debitis animi maxime dolore harum. Esse repudiandae reprehenderit eum
            mollitia nesciunt autem animi officiis deserunt eaque similique quod,
            consectetur a consequatur, at quibusdam non id dignissimos ipsum. Omnis
            quaerat earum nesciunt aperiam voluptatum enim officiis rerum quibusdam
            rem illum, exercitationem tenetur, provident sint! Nam quidem, recusandae
            rem laborum architecto illum, fuga ipsum incidunt, impedit nisi quos
            ipsam voluptatum officia voluptatibus quasi asperiores voluptate praesentium
            hic. Aspernatur ipsam ut excepturi hic sint? Aperiam labore unde repellendus
            illum itaque a totam, magni nemo accusantium animi soluta modi. Maiores
            animi quam repudiandae enim! Necessitatibus reprehenderit maxime ea?
            Repudiandae rem vel natus praesentium laboriosam. Asperiores vel maxime
            soluta cumque officia at laborum aliquid distinctio sit ad, tempora eveniet
            sequi quis molestiae numquam rem quidem mollitia. Eveniet ab voluptates
            quisquam nisi quaerat recusandae enim quia id ipsum similique, laborum
            fuga consectetur tempore perferendis minima commodi eum repellat tempora
            voluptate rerum consequatur aspernatur. Dolorem illum corporis facere
            mollitia voluptatibus provident molestiae quam unde ex, id recusandae
            placeat molestias quas obcaecati a eveniet voluptate. Impedit ut, quaerat
            quae consectetur neque et! Sint magnam tenetur ut ratione vitae, animi
            aspernatur eveniet laborum praesentium tempora minus quae. Temporibus,
            cumque laborum nulla officiis aspernatur non! Nam magni quos, in, tenetur
            asperiores optio quibusdam officia cum fugit fugiat saepe! Aliquid rem
            aperiam eum, hic, voluptatum aut totam minus veritatis temporibus, odio
            vitae eius consectetur delectus laborum? Hic deserunt placeat sapiente
            velit minus blanditiis eum nostrum fugit, impedit, praesentium sequi
            minima. Voluptate sequi perspiciatis alias eligendi aliquam est illum
            ipsa ratione eius odio nam corporis, incidunt deserunt facilis quos tempora
            tempore laboriosam, aperiam tenetur culpa unde rerum? Consequuntur deleniti
            qui culpa dignissimos soluta optio sed, in animi quas illum repellendus
            et expedita asperiores omnis autem veniam accusantium magni recusandae.
            Necessitatibus beatae doloribus quam autem, dignissimos ab ad nobis cumque,
            repudiandae, quae iure alias! Quod sit eius omnis optio asperiores fugiat
            ad vel, laudantium impedit odit possimus, mollitia natus eum doloremque
            beatae, aspernatur maiores error! Dolore ea vel vero accusamus eveniet
            porro pariatur rem sint atque. Accusamus nesciunt eligendi explicabo
            dolores iusto fugiat, cupiditate odio excepturi minus sunt autem, quam
            velit perferendis dolore eaque cumque fugit quae incidunt voluptatem!
            Maiores quis dolorem ipsam minus cum placeat similique sapiente fuga
            iste molestias nam assumenda omnis itaque voluptatem eligendi tenetur
            illum deserunt, suscipit repellendus aut aspernatur officiis quos odit?
            Quibusdam nam dicta quae similique error, quasi assumenda vel officiis
            est, pariatur cupiditate repellat perferendis, et necessitatibus explicabo
            quas reiciendis amet? Reiciendis iusto pariatur eaque earum iure adipisci
            amet nobis totam ab illum, repellat nemo consequatur laborum suscipit
            est, rem culpa voluptatem laudantium asperiores deleniti, perspiciatis
            eum blanditiis odio quas! Nobis ad non voluptatibus adipisci optio iusto.
            Assumenda similique quam hic perferendis incidunt. Libero, sit? A alias
            error laboriosam magni eos libero? Maiores eveniet vero deleniti dicta
            dolorem vitae quisquam hic impedit doloribus ex atque officia iure inventore,
            animi odio, laborum molestias earum quia. Optio nemo, quibusdam delectus
            perspiciatis at repellendus asperiores officia ipsa nihil voluptatem
            ipsam dolores quasi praesentium modi. Libero corporis aut quasi officia
            iusto repellendus eum impedit non neque fugit earum omnis in odit alias,
            numquam nulla eveniet. Sunt quis repudiandae officiis reiciendis harum
            minima dolorem. Quas ullam sint quisquam deserunt, illum cum magni tempore
            architecto accusamus est voluptatum sapiente facere vero laudantium iure,
            obcaecati expedita earum odio ducimus sit! Illum at doloremque provident?
            Quasi enim, architecto excepturi quisquam quidem earum ullam quis optio
            officiis maxime ducimus sed aperiam, nobis ad adipisci ratione error
            atque. Architecto, sint sit facere at dolorem aspernatur et fugiat voluptatum
            quidem quibusdam perferendis ipsa itaque repudiandae odio animi reprehenderit
            adipisci neque quaerat, ut accusantium beatae laudantium consequatur?
            Animi libero, ea dicta corrupti quam, assumenda veritatis quod minima
            officia voluptates repellat error voluptate. Sequi voluptas amet hic
            sed, quam iste numquam necessitatibus porro mollitia, voluptatem ducimus
            laudantium totam facere explicabo dolores. Itaque inventore animi quasi
            vel aspernatur accusantium alias repellendus sed, veniam expedita dolores
            similique, ex beatae ducimus nemo quaerat cumque est blanditiis officiis
            modi rem! Recusandae fugit maiores aliquam mollitia veritatis dolore
            sint ratione nesciunt accusantium illo, non earum, saepe soluta fuga
            necessitatibus eligendi dignissimos consequuntur beatae veniam nobis
            quasi? Quasi praesentium aliquid pariatur autem, at labore, distinctio,
            dolores vitae in soluta iusto. Iure provident vel autem facilis esse,
            ipsam, libero nobis iste perferendis ullam optio corporis blanditiis
            accusamus tenetur ipsa dicta nostrum maiores adipisci possimus aliquam
            suscipit! Voluptatibus, inventore omnis maiores, quis quo et aspernatur,
            fugit nemo recusandae iusto voluptate esse eum explicabo. Mollitia architecto
            doloremque alias numquam, asperiores minima voluptatum corporis minus
            repudiandae cum voluptas sint reprehenderit eius. Vero quae esse veniam
            dolorum maxime earum dignissimos nemo nostrum voluptate magnam, unde
            non quibusdam odit eaque! Provident delectus repellendus nulla architecto
            porro aliquam quod temporibus, aliquid dolore! Odit voluptatum eum explicabo
            iste nobis similique totam accusantium, voluptas laborum atque nisi doloremque
            veniam, libero nam fugit in asperiores quo sed et labore fugiat dolore
            ut sit illum? In, quibusdam magnam! Alias, numquam deleniti beatae quae
            laboriosam cum officiis neque sint perspiciatis! Eaque, libero unde ab
            laboriosam asperiores animi dolorum a, pariatur eum vitae aperiam ea
            itaque debitis similique tempore. Saepe perferendis, aperiam quos numquam
            alias doloribus officiis atque eius molestias, praesentium id similique
            vitae nisi dolores natus nam quas animi voluptate odit, obcaecati maiores
            reprehenderit! Provident ad consectetur eligendi neque quasi numquam
            sint at quos, sit perferendis iure est, sequi error amet, dolorem magnam
            vel itaque optio cupiditate. Quos mollitia aliquam ex ad. Ut quaerat,
            sit eum esse amet accusantium consectetur, et quos, numquam neque culpa
            eveniet. Nisi perferendis ipsum magnam veniam eum harum, animi rerum
            quasi culpa porro necessitatibus! Repellendus eveniet cum ipsum laborum
            magni, dolores itaque mollitia facere consequuntur dolorem animi nisi
            dicta atque reprehenderit laudantium deserunt ab asperiores, rerum dignissimos
            sequi delectus minima suscipit tempora? Saepe, voluptatum repellat maiores,
            quas consequuntur modi velit vero nihil ducimus perferendis fugit pariatur
            non reprehenderit veritatis consectetur. Ipsa deserunt magni perferendis
            facere a rem ipsum unde, eligendi alias fugit blanditiis at nesciunt
            id nisi molestias. Totam, vel. Alias architecto mollitia voluptatem quasi
            eum rem delectus aperiam tenetur debitis placeat culpa accusamus autem
            labore fuga quisquam beatae ex dolore nostrum, iure fugiat qui commodi!
            Iure deserunt, sint nemo vero corrupti consequuntur perspiciatis aspernatur
            a ab magnam saepe sit illo inventore expedita architecto, eius eum necessitatibus
            ratione cupiditate id delectus quia. Sequi laboriosam eum nulla autem
            quia voluptatem, placeat pariatur odio sint reprehenderit, laudantium
            aliquid ut odit? Qui inventore reprehenderit rem dolore debitis labore
            repellendus eius error quos excepturi consequatur illo beatae, commodi,
            nam voluptatem deserunt delectus maxime voluptas iste quas optio. Ex.
          </div>
        </div>
        <footer class="card-footer">
          <a href="" class="button card-footer-item is-dark"
            >read more...</a
          >
        </footer>
      </div>











































      <div class="card mt-6">
        <div class="card-header has-text-centered">
          <p class="card-header-title is-size-4">
            The dog factory
          </p>
        </div>
        <div class="card-content has-background-dark-light">
          <div class="content custom">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              natus labore omnis enim. Sit expedita odio eos quisquam, ad porro
              ut nesciunt odit recusandae in, repellat, repudiandae voluptate
              quibusdam fuga explicabo doloribus ducimus nobis deserunt? Saepe
              placeat labore deleniti facere adipisci aliquam impedit
              repudiandae doloribus ad aperiam distinctio, tenetur, officiis
              minima iste totam quas ea rem suscipit magnam nesciunt? Quidem aut
              quod, similique nisi omnis voluptatum corporis dolorum asperiores
              placeat quam minima quas officiis dolore inventore facilis
              reiciendis necessitatibus unde sed ex mollitia. Repudiandae
              numquam ipsum atque velit obcaecati iusto, suscipit impedit ullam
              officiis fuga, tenetur placeat. Quia asperiores distinctio debitis
              dolorem veniam reprehenderit, doloremque, blanditiis
            </p>

            <p>
              et earum quos provident, eaque eveniet soluta inventore nulla
              necessitatibus. Iusto eligendi quos dolore quaerat fuga sint
              cupiditate fugit similique sit dolorem impedit facere eum ipsum
              rerum labore, veritatis debitis natus illo aliquam adipisci? Ex
              earum expedita quas libero distinctio at quisquam quis eligendi
              possimus et nemo molestias praesentium impedit inventore harum,
              quia natus commodi eos dignissimos cum rem. Earum eius tempora
              delectus vel reprehenderit, voluptas enim expedita. Consectetur
              incidunt beatae ad! Dolor exercitationem consequatur laborum
              necessitatibus ullam quasi culpa laudantium, neque expedita
              cupiditate dolorem laboriosam sunt corporis maxime obcaecati
              magnam quo facilis beatae
            </p>

            <p>
              sed consectetur dolore ducimus earum at unde. Iste quia ipsam in
              qui culpa? Labore deleniti ipsum perferendis laudantium a maiores
              saepe dolorem amet molestias eos. Eos, amet neque veritatis nemo,
              sed tempora temporibus perspiciatis autem molestias iusto suscipit
              quae corporis vel at numquam distinctio ex commodi quidem? Vero
              dignissimos dolores, alias, pariatur dolore qui consequuntur omnis
              maiores dolorum eius veniam modi corrupti illo assumenda!
              Exercitationem recusandae consequatur ducimus quasi aperiam
              officia sunt aspernatur voluptates repellendus tenetur, vitae a
              molestiae, accusantium animi ratione quod consectetur dolores.
              Harum quis neque voluptas recusandae eveniet enim at deleniti
              commodi, quas iusto, facere maxime aliquam, molestias minima minus
              incidunt dolor fugit! Voluptatibus in consectetur ea, ullam
              sapiente possimus! Harum neque aut sunt natus rem autem quaerat,
              fugiat laudantium dolore, unde laborum odio numquam id saepe
              voluptas! Modi nostrum iusto quibusdam commodi amet officia minus
              voluptatibus nisi, alias odit laborum quod numquam at ratione eius
              architecto sed nam reiciendis dolor optio soluta debitis. Porro
              reiciendis facere exercitationem dolorem error quasi amet sed
              praesentium tenetur deleniti. Distinctio incidunt necessitatibus
              vel eaque laboriosam placeat asperiores et minima praesentium
              harum magni adipisci perferendis impedit hic, accusamus cum
              veritatis eligendi blanditiis? Ratione atque harum itaque
              laboriosam ex velit. Deserunt aspernatur
            </p> quam, provident distinctio ullam magni nesciunt tempore officiis
            quas. Qui nam perferendis vitae voluptatem pariatur est doloribus consectetur
            et odio magni. Ut quia fugit mollitia hic at natus ratione! Odit explicabo
            id impedit vitae, quo dolorem eum saepe molestiae voluptatem accusantium!
            At odio mollitia dolore, est, similique in suscipit recusandae vel, adipisci
            cupiditate labore eius pariatur. Veritatis perspiciatis unde qui, dolorem
            quia quaerat vel dolor optio ipsa ratione dicta quidem molestiae aspernatur
            quo commodi laudantium, consequuntur mollitia voluptatum aut atque velit
            praesentium! Ipsum quam unde dolorum eum debitis alias sit, neque eveniet
            eius nisi facere inventore consectetur aliquid nemo repellat quo modi
            dolore asperiores beatae praesentium quaerat consequuntur itaque nobis
            expedita. Voluptates unde in minus sint animi incidunt quisquam voluptas!
            Commodi veniam blanditiis iste ea, quae deleniti cumque, incidunt modi
            veritatis consequuntur maiores ullam alias tenetur, unde quas excepturi
            autem laborum nesciunt qui? Blanditiis iure perspiciatis explicabo quia
            laudantium velit voluptatum, libero ipsa. Porro fugit quibusdam quas
            necessitatibus eum ducimus. Dicta repudiandae aperiam non saepe voluptatibus,
            laudantium ex cumque tempore nam temporibus eveniet sequi labore itaque
            debitis consectetur quam, eligendi accusantium sunt perspiciatis velit
            officiis reprehenderit. Consequatur officiis eius non velit quibusdam
            accusamus quod sed dolores in. Quibusdam velit quis facere ab a explicabo
            veniam deleniti ducimus tempora eius atque natus, omnis expedita doloremque
            aspernatur. Quod minima mollitia blanditiis error iste ab obcaecati soluta
            ducimus, facilis repellat dolorum incidunt praesentium, sequi suscipit
            quae! Dicta ipsa sequi, numquam officia placeat perspiciatis non dolor
            nostrum laboriosam ipsum alias eum quasi sunt velit neque provident quo!
            Vero hic qui numquam corporis ea veniam accusamus odio excepturi? Itaque
            magni nisi ab? Provident odio exercitationem alias nostrum dignissimos
            placeat voluptates cumque, animi fuga tenetur blanditiis quo voluptatem
            neque assumenda nam saepe debitis vel! Alias optio autem expedita ipsa
            esse at dolor iusto eaque reiciendis, ratione repellat, architecto, perferendis
            sint explicabo? Eaque nihil sunt modi laboriosam magni eveniet mollitia
            amet reprehenderit beatae totam! Dolores, quos. Iure maiores dolores
            quia aliquam, sapiente autem perferendis reiciendis cupiditate culpa
            iusto iste ea, a quis, dolor voluptas deserunt eaque delectus ex labore!
            Officia laudantium molestiae similique eos reprehenderit assumenda odio
            repudiandae ipsam? Labore animi voluptate vel dolor mollitia delectus
            perferendis, expedita doloribus nisi maxime molestias quae magnam totam
            accusamus voluptates officia quod quis. Numquam cum quisquam necessitatibus
            maxime libero debitis sit. Voluptatum sapiente voluptas rerum reiciendis
            vero autem officiis quia nulla minima excepturi provident atque, eum
            adipisci? Officia ut consequatur quisquam laborum quod sapiente, fugiat
            sed unde architecto repellendus porro illum quaerat ducimus mollitia
            magni id totam reiciendis exercitationem numquam eius quas atque nisi.
            Placeat consequuntur id, blanditiis tempora exercitationem laudantium.
            Voluptatem placeat vero omnis illo recusandae commodi animi, at maxime
            possimus. Quae, vitae quo. Nemo facilis ab laudantium debitis rerum est
            maxime cum quibusdam explicabo eligendi repellat adipisci, alias delectus
            iusto sed minus enim architecto. Veritatis culpa ab eveniet sit temporibus
            quia, esse aut totam minus quibusdam possimus! Fuga enim esse laborum
            quod autem tempora mollitia temporibus tenetur cum dolore necessitatibus,
            dolorem accusamus. Exercitationem error delectus repellendus, quod, ex
            incidunt assumenda laboriosam nobis voluptate recusandae laborum unde
            nemo at saepe iusto impedit in molestiae veritatis quidem necessitatibus
            debitis animi maxime dolore harum. Esse repudiandae reprehenderit eum
            mollitia nesciunt autem animi officiis deserunt eaque similique quod,
            consectetur a consequatur, at quibusdam non id dignissimos ipsum. Omnis
            quaerat earum nesciunt aperiam voluptatum enim officiis rerum quibusdam
            rem illum, exercitationem tenetur, provident sint! Nam quidem, recusandae
            rem laborum architecto illum, fuga ipsum incidunt, impedit nisi quos
            ipsam voluptatum officia voluptatibus quasi asperiores voluptate praesentium
            hic. Aspernatur ipsam ut excepturi hic sint? Aperiam labore unde repellendus
            illum itaque a totam, magni nemo accusantium animi soluta modi. Maiores
            animi quam repudiandae enim! Necessitatibus reprehenderit maxime ea?
            Repudiandae rem vel natus praesentium laboriosam. Asperiores vel maxime
            soluta cumque officia at laborum aliquid distinctio sit ad, tempora eveniet
            sequi quis molestiae numquam rem quidem mollitia. Eveniet ab voluptates
            quisquam nisi quaerat recusandae enim quia id ipsum similique, laborum
            fuga consectetur tempore perferendis minima commodi eum repellat tempora
            voluptate rerum consequatur aspernatur. Dolorem illum corporis facere
            mollitia voluptatibus provident molestiae quam unde ex, id recusandae
            placeat molestias quas obcaecati a eveniet voluptate. Impedit ut, quaerat
            quae consectetur neque et! Sint magnam tenetur ut ratione vitae, animi
            aspernatur eveniet laborum praesentium tempora minus quae. Temporibus,
            cumque laborum nulla officiis aspernatur non! Nam magni quos, in, tenetur
            asperiores optio quibusdam officia cum fugit fugiat saepe! Aliquid rem
            aperiam eum, hic, voluptatum aut totam minus veritatis temporibus, odio
            vitae eius consectetur delectus laborum? Hic deserunt placeat sapiente
            velit minus blanditiis eum nostrum fugit, impedit, praesentium sequi
            minima. Voluptate sequi perspiciatis alias eligendi aliquam est illum
            ipsa ratione eius odio nam corporis, incidunt deserunt facilis quos tempora
            tempore laboriosam, aperiam tenetur culpa unde rerum? Consequuntur deleniti
            qui culpa dignissimos soluta optio sed, in animi quas illum repellendus
            et expedita asperiores omnis autem veniam accusantium magni recusandae.
            Necessitatibus beatae doloribus quam autem, dignissimos ab ad nobis cumque,
            repudiandae, quae iure alias! Quod sit eius omnis optio asperiores fugiat
            ad vel, laudantium impedit odit possimus, mollitia natus eum doloremque
            beatae, aspernatur maiores error! Dolore ea vel vero accusamus eveniet
            porro pariatur rem sint atque. Accusamus nesciunt eligendi explicabo
            dolores iusto fugiat, cupiditate odio excepturi minus sunt autem, quam
            velit perferendis dolore eaque cumque fugit quae incidunt voluptatem!
            Maiores quis dolorem ipsam minus cum placeat similique sapiente fuga
            iste molestias nam assumenda omnis itaque voluptatem eligendi tenetur
            illum deserunt, suscipit repellendus aut aspernatur officiis quos odit?
            Quibusdam nam dicta quae similique error, quasi assumenda vel officiis
            est, pariatur cupiditate repellat perferendis, et necessitatibus explicabo
            quas reiciendis amet? Reiciendis iusto pariatur eaque earum iure adipisci
            amet nobis totam ab illum, repellat nemo consequatur laborum suscipit
            est, rem culpa voluptatem laudantium asperiores deleniti, perspiciatis
            eum blanditiis odio quas! Nobis ad non voluptatibus adipisci optio iusto.
            Assumenda similique quam hic perferendis incidunt. Libero, sit? A alias
            error laboriosam magni eos libero? Maiores eveniet vero deleniti dicta
            dolorem vitae quisquam hic impedit doloribus ex atque officia iure inventore,
            animi odio, laborum molestias earum quia. Optio nemo, quibusdam delectus
            perspiciatis at repellendus asperiores officia ipsa nihil voluptatem
            ipsam dolores quasi praesentium modi. Libero corporis aut quasi officia
            iusto repellendus eum impedit non neque fugit earum omnis in odit alias,
            numquam nulla eveniet. Sunt quis repudiandae officiis reiciendis harum
            minima dolorem. Quas ullam sint quisquam deserunt, illum cum magni tempore
            architecto accusamus est voluptatum sapiente facere vero laudantium iure,
            obcaecati expedita earum odio ducimus sit! Illum at doloremque provident?
            Quasi enim, architecto excepturi quisquam quidem earum ullam quis optio
            officiis maxime ducimus sed aperiam, nobis ad adipisci ratione error
            atque. Architecto, sint sit facere at dolorem aspernatur et fugiat voluptatum
            quidem quibusdam perferendis ipsa itaque repudiandae odio animi reprehenderit
            adipisci neque quaerat, ut accusantium beatae laudantium consequatur?
            Animi libero, ea dicta corrupti quam, assumenda veritatis quod minima
            officia voluptates repellat error voluptate. Sequi voluptas amet hic
            sed, quam iste numquam necessitatibus porro mollitia, voluptatem ducimus
            laudantium totam facere explicabo dolores. Itaque inventore animi quasi
            vel aspernatur accusantium alias repellendus sed, veniam expedita dolores
            similique, ex beatae ducimus nemo quaerat cumque est blanditiis officiis
            modi rem! Recusandae fugit maiores aliquam mollitia veritatis dolore
            sint ratione nesciunt accusantium illo, non earum, saepe soluta fuga
            necessitatibus eligendi dignissimos consequuntur beatae veniam nobis
            quasi? Quasi praesentium aliquid pariatur autem, at labore, distinctio,
            dolores vitae in soluta iusto. Iure provident vel autem facilis esse,
            ipsam, libero nobis iste perferendis ullam optio corporis blanditiis
            accusamus tenetur ipsa dicta nostrum maiores adipisci possimus aliquam
            suscipit! Voluptatibus, inventore omnis maiores, quis quo et aspernatur,
            fugit nemo recusandae iusto voluptate esse eum explicabo. Mollitia architecto
            doloremque alias numquam, asperiores minima voluptatum corporis minus
            repudiandae cum voluptas sint reprehenderit eius. Vero quae esse veniam
            dolorum maxime earum dignissimos nemo nostrum voluptate magnam, unde
            non quibusdam odit eaque! Provident delectus repellendus nulla architecto
            porro aliquam quod temporibus, aliquid dolore! Odit voluptatum eum explicabo
            iste nobis similique totam accusantium, voluptas laborum atque nisi doloremque
            veniam, libero nam fugit in asperiores quo sed et labore fugiat dolore
            ut sit illum? In, quibusdam magnam! Alias, numquam deleniti beatae quae
            laboriosam cum officiis neque sint perspiciatis! Eaque, libero unde ab
            laboriosam asperiores animi dolorum a, pariatur eum vitae aperiam ea
            itaque debitis similique tempore. Saepe perferendis, aperiam quos numquam
            alias doloribus officiis atque eius molestias, praesentium id similique
            vitae nisi dolores natus nam quas animi voluptate odit, obcaecati maiores
            reprehenderit! Provident ad consectetur eligendi neque quasi numquam
            sint at quos, sit perferendis iure est, sequi error amet, dolorem magnam
            vel itaque optio cupiditate. Quos mollitia aliquam ex ad. Ut quaerat,
            sit eum esse amet accusantium consectetur, et quos, numquam neque culpa
            eveniet. Nisi perferendis ipsum magnam veniam eum harum, animi rerum
            quasi culpa porro necessitatibus! Repellendus eveniet cum ipsum laborum
            magni, dolores itaque mollitia facere consequuntur dolorem animi nisi
            dicta atque reprehenderit laudantium deserunt ab asperiores, rerum dignissimos
            sequi delectus minima suscipit tempora? Saepe, voluptatum repellat maiores,
            quas consequuntur modi velit vero nihil ducimus perferendis fugit pariatur
            non reprehenderit veritatis consectetur. Ipsa deserunt magni perferendis
            facere a rem ipsum unde, eligendi alias fugit blanditiis at nesciunt
            id nisi molestias. Totam, vel. Alias architecto mollitia voluptatem quasi
            eum rem delectus aperiam tenetur debitis placeat culpa accusamus autem
            labore fuga quisquam beatae ex dolore nostrum, iure fugiat qui commodi!
            Iure deserunt, sint nemo vero corrupti consequuntur perspiciatis aspernatur
            a ab magnam saepe sit illo inventore expedita architecto, eius eum necessitatibus
            ratione cupiditate id delectus quia. Sequi laboriosam eum nulla autem
            quia voluptatem, placeat pariatur odio sint reprehenderit, laudantium
            aliquid ut odit? Qui inventore reprehenderit rem dolore debitis labore
            repellendus eius error quos excepturi consequatur illo beatae, commodi,
            nam voluptatem deserunt delectus maxime voluptas iste quas optio. Ex.
          </div>
        </div>
        <footer class="card-footer">
          <a href="" class="button card-footer-item is-dark"
            >read more...</a
          >
        </footer>
      </div>


















































      <div class="card mt-6">
        <div class="card-header has-text-centered">
          <p class="card-header-title is-size-4">
            The dog factory
          </p>
        </div>
        <div class="card-content has-background-dark-light">
          <div class="content custom">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              natus labore omnis enim. Sit expedita odio eos quisquam, ad porro
              ut nesciunt odit recusandae in, repellat, repudiandae voluptate
              quibusdam fuga explicabo doloribus ducimus nobis deserunt? Saepe
              placeat labore deleniti facere adipisci aliquam impedit
              repudiandae doloribus ad aperiam distinctio, tenetur, officiis
              minima iste totam quas ea rem suscipit magnam nesciunt? Quidem aut
              quod, similique nisi omnis voluptatum corporis dolorum asperiores
              placeat quam minima quas officiis dolore inventore facilis
              reiciendis necessitatibus unde sed ex mollitia. Repudiandae
              numquam ipsum atque velit obcaecati iusto, suscipit impedit ullam
              officiis fuga, tenetur placeat. Quia asperiores distinctio debitis
              dolorem veniam reprehenderit, doloremque, blanditiis
            </p>

            <p>
              et earum quos provident, eaque eveniet soluta inventore nulla
              necessitatibus. Iusto eligendi quos dolore quaerat fuga sint
              cupiditate fugit similique sit dolorem impedit facere eum ipsum
              rerum labore, veritatis debitis natus illo aliquam adipisci? Ex
              earum expedita quas libero distinctio at quisquam quis eligendi
              possimus et nemo molestias praesentium impedit inventore harum,
              quia natus commodi eos dignissimos cum rem. Earum eius tempora
              delectus vel reprehenderit, voluptas enim expedita. Consectetur
              incidunt beatae ad! Dolor exercitationem consequatur laborum
              necessitatibus ullam quasi culpa laudantium, neque expedita
              cupiditate dolorem laboriosam sunt corporis maxime obcaecati
              magnam quo facilis beatae
            </p>

            <p>
              sed consectetur dolore ducimus earum at unde. Iste quia ipsam in
              qui culpa? Labore deleniti ipsum perferendis laudantium a maiores
              saepe dolorem amet molestias eos. Eos, amet neque veritatis nemo,
              sed tempora temporibus perspiciatis autem molestias iusto suscipit
              quae corporis vel at numquam distinctio ex commodi quidem? Vero
              dignissimos dolores, alias, pariatur dolore qui consequuntur omnis
              maiores dolorum eius veniam modi corrupti illo assumenda!
              Exercitationem recusandae consequatur ducimus quasi aperiam
              officia sunt aspernatur voluptates repellendus tenetur, vitae a
              molestiae, accusantium animi ratione quod consectetur dolores.
              Harum quis neque voluptas recusandae eveniet enim at deleniti
              commodi, quas iusto, facere maxime aliquam, molestias minima minus
              incidunt dolor fugit! Voluptatibus in consectetur ea, ullam
              sapiente possimus! Harum neque aut sunt natus rem autem quaerat,
              fugiat laudantium dolore, unde laborum odio numquam id saepe
              voluptas! Modi nostrum iusto quibusdam commodi amet officia minus
              voluptatibus nisi, alias odit laborum quod numquam at ratione eius
              architecto sed nam reiciendis dolor optio soluta debitis. Porro
              reiciendis facere exercitationem dolorem error quasi amet sed
              praesentium tenetur deleniti. Distinctio incidunt necessitatibus
              vel eaque laboriosam placeat asperiores et minima praesentium
              harum magni adipisci perferendis impedit hic, accusamus cum
              veritatis eligendi blanditiis? Ratione atque harum itaque
              laboriosam ex velit. Deserunt aspernatur
            </p> quam, provident distinctio ullam magni nesciunt tempore officiis
            quas. Qui nam perferendis vitae voluptatem pariatur est doloribus consectetur
            et odio magni. Ut quia fugit mollitia hic at natus ratione! Odit explicabo
            id impedit vitae, quo dolorem eum saepe molestiae voluptatem accusantium!
            At odio mollitia dolore, est, similique in suscipit recusandae vel, adipisci
            cupiditate labore eius pariatur. Veritatis perspiciatis unde qui, dolorem
            quia quaerat vel dolor optio ipsa ratione dicta quidem molestiae aspernatur
            quo commodi laudantium, consequuntur mollitia voluptatum aut atque velit
            praesentium! Ipsum quam unde dolorum eum debitis alias sit, neque eveniet
            eius nisi facere inventore consectetur aliquid nemo repellat quo modi
            dolore asperiores beatae praesentium quaerat consequuntur itaque nobis
            expedita. Voluptates unde in minus sint animi incidunt quisquam voluptas!
            Commodi veniam blanditiis iste ea, quae deleniti cumque, incidunt modi
            veritatis consequuntur maiores ullam alias tenetur, unde quas excepturi
            autem laborum nesciunt qui? Blanditiis iure perspiciatis explicabo quia
            laudantium velit voluptatum, libero ipsa. Porro fugit quibusdam quas
            necessitatibus eum ducimus. Dicta repudiandae aperiam non saepe voluptatibus,
            laudantium ex cumque tempore nam temporibus eveniet sequi labore itaque
            debitis consectetur quam, eligendi accusantium sunt perspiciatis velit
            officiis reprehenderit. Consequatur officiis eius non velit quibusdam
            accusamus quod sed dolores in. Quibusdam velit quis facere ab a explicabo
            veniam deleniti ducimus tempora eius atque natus, omnis expedita doloremque
            aspernatur. Quod minima mollitia blanditiis error iste ab obcaecati soluta
            ducimus, facilis repellat dolorum incidunt praesentium, sequi suscipit
            quae! Dicta ipsa sequi, numquam officia placeat perspiciatis non dolor
            nostrum laboriosam ipsum alias eum quasi sunt velit neque provident quo!
            Vero hic qui numquam corporis ea veniam accusamus odio excepturi? Itaque
            magni nisi ab? Provident odio exercitationem alias nostrum dignissimos
            placeat voluptates cumque, animi fuga tenetur blanditiis quo voluptatem
            neque assumenda nam saepe debitis vel! Alias optio autem expedita ipsa
            esse at dolor iusto eaque reiciendis, ratione repellat, architecto, perferendis
            sint explicabo? Eaque nihil sunt modi laboriosam magni eveniet mollitia
            amet reprehenderit beatae totam! Dolores, quos. Iure maiores dolores
            quia aliquam, sapiente autem perferendis reiciendis cupiditate culpa
            iusto iste ea, a quis, dolor voluptas deserunt eaque delectus ex labore!
            Officia laudantium molestiae similique eos reprehenderit assumenda odio
            repudiandae ipsam? Labore animi voluptate vel dolor mollitia delectus
            perferendis, expedita doloribus nisi maxime molestias quae magnam totam
            accusamus voluptates officia quod quis. Numquam cum quisquam necessitatibus
            maxime libero debitis sit. Voluptatum sapiente voluptas rerum reiciendis
            vero autem officiis quia nulla minima excepturi provident atque, eum
            adipisci? Officia ut consequatur quisquam laborum quod sapiente, fugiat
            sed unde architecto repellendus porro illum quaerat ducimus mollitia
            magni id totam reiciendis exercitationem numquam eius quas atque nisi.
            Placeat consequuntur id, blanditiis tempora exercitationem laudantium.
            Voluptatem placeat vero omnis illo recusandae commodi animi, at maxime
            possimus. Quae, vitae quo. Nemo facilis ab laudantium debitis rerum est
            maxime cum quibusdam explicabo eligendi repellat adipisci, alias delectus
            iusto sed minus enim architecto. Veritatis culpa ab eveniet sit temporibus
            quia, esse aut totam minus quibusdam possimus! Fuga enim esse laborum
            quod autem tempora mollitia temporibus tenetur cum dolore necessitatibus,
            dolorem accusamus. Exercitationem error delectus repellendus, quod, ex
            incidunt assumenda laboriosam nobis voluptate recusandae laborum unde
            nemo at saepe iusto impedit in molestiae veritatis quidem necessitatibus
            debitis animi maxime dolore harum. Esse repudiandae reprehenderit eum
            mollitia nesciunt autem animi officiis deserunt eaque similique quod,
            consectetur a consequatur, at quibusdam non id dignissimos ipsum. Omnis
            quaerat earum nesciunt aperiam voluptatum enim officiis rerum quibusdam
            rem illum, exercitationem tenetur, provident sint! Nam quidem, recusandae
            rem laborum architecto illum, fuga ipsum incidunt, impedit nisi quos
            ipsam voluptatum officia voluptatibus quasi asperiores voluptate praesentium
            hic. Aspernatur ipsam ut excepturi hic sint? Aperiam labore unde repellendus
            illum itaque a totam, magni nemo accusantium animi soluta modi. Maiores
            animi quam repudiandae enim! Necessitatibus reprehenderit maxime ea?
            Repudiandae rem vel natus praesentium laboriosam. Asperiores vel maxime
            soluta cumque officia at laborum aliquid distinctio sit ad, tempora eveniet
            sequi quis molestiae numquam rem quidem mollitia. Eveniet ab voluptates
            quisquam nisi quaerat recusandae enim quia id ipsum similique, laborum
            fuga consectetur tempore perferendis minima commodi eum repellat tempora
            voluptate rerum consequatur aspernatur. Dolorem illum corporis facere
            mollitia voluptatibus provident molestiae quam unde ex, id recusandae
            placeat molestias quas obcaecati a eveniet voluptate. Impedit ut, quaerat
            quae consectetur neque et! Sint magnam tenetur ut ratione vitae, animi
            aspernatur eveniet laborum praesentium tempora minus quae. Temporibus,
            cumque laborum nulla officiis aspernatur non! Nam magni quos, in, tenetur
            asperiores optio quibusdam officia cum fugit fugiat saepe! Aliquid rem
            aperiam eum, hic, voluptatum aut totam minus veritatis temporibus, odio
            vitae eius consectetur delectus laborum? Hic deserunt placeat sapiente
            velit minus blanditiis eum nostrum fugit, impedit, praesentium sequi
            minima. Voluptate sequi perspiciatis alias eligendi aliquam est illum
            ipsa ratione eius odio nam corporis, incidunt deserunt facilis quos tempora
            tempore laboriosam, aperiam tenetur culpa unde rerum? Consequuntur deleniti
            qui culpa dignissimos soluta optio sed, in animi quas illum repellendus
            et expedita asperiores omnis autem veniam accusantium magni recusandae.
            Necessitatibus beatae doloribus quam autem, dignissimos ab ad nobis cumque,
            repudiandae, quae iure alias! Quod sit eius omnis optio asperiores fugiat
            ad vel, laudantium impedit odit possimus, mollitia natus eum doloremque
            beatae, aspernatur maiores error! Dolore ea vel vero accusamus eveniet
            porro pariatur rem sint atque. Accusamus nesciunt eligendi explicabo
            dolores iusto fugiat, cupiditate odio excepturi minus sunt autem, quam
            velit perferendis dolore eaque cumque fugit quae incidunt voluptatem!
            Maiores quis dolorem ipsam minus cum placeat similique sapiente fuga
            iste molestias nam assumenda omnis itaque voluptatem eligendi tenetur
            illum deserunt, suscipit repellendus aut aspernatur officiis quos odit?
            Quibusdam nam dicta quae similique error, quasi assumenda vel officiis
            est, pariatur cupiditate repellat perferendis, et necessitatibus explicabo
            quas reiciendis amet? Reiciendis iusto pariatur eaque earum iure adipisci
            amet nobis totam ab illum, repellat nemo consequatur laborum suscipit
            est, rem culpa voluptatem laudantium asperiores deleniti, perspiciatis
            eum blanditiis odio quas! Nobis ad non voluptatibus adipisci optio iusto.
            Assumenda similique quam hic perferendis incidunt. Libero, sit? A alias
            error laboriosam magni eos libero? Maiores eveniet vero deleniti dicta
            dolorem vitae quisquam hic impedit doloribus ex atque officia iure inventore,
            animi odio, laborum molestias earum quia. Optio nemo, quibusdam delectus
            perspiciatis at repellendus asperiores officia ipsa nihil voluptatem
            ipsam dolores quasi praesentium modi. Libero corporis aut quasi officia
            iusto repellendus eum impedit non neque fugit earum omnis in odit alias,
            numquam nulla eveniet. Sunt quis repudiandae officiis reiciendis harum
            minima dolorem. Quas ullam sint quisquam deserunt, illum cum magni tempore
            architecto accusamus est voluptatum sapiente facere vero laudantium iure,
            obcaecati expedita earum odio ducimus sit! Illum at doloremque provident?
            Quasi enim, architecto excepturi quisquam quidem earum ullam quis optio
            officiis maxime ducimus sed aperiam, nobis ad adipisci ratione error
            atque. Architecto, sint sit facere at dolorem aspernatur et fugiat voluptatum
            quidem quibusdam perferendis ipsa itaque repudiandae odio animi reprehenderit
            adipisci neque quaerat, ut accusantium beatae laudantium consequatur?
            Animi libero, ea dicta corrupti quam, assumenda veritatis quod minima
            officia voluptates repellat error voluptate. Sequi voluptas amet hic
            sed, quam iste numquam necessitatibus porro mollitia, voluptatem ducimus
            laudantium totam facere explicabo dolores. Itaque inventore animi quasi
            vel aspernatur accusantium alias repellendus sed, veniam expedita dolores
            similique, ex beatae ducimus nemo quaerat cumque est blanditiis officiis
            modi rem! Recusandae fugit maiores aliquam mollitia veritatis dolore
            sint ratione nesciunt accusantium illo, non earum, saepe soluta fuga
            necessitatibus eligendi dignissimos consequuntur beatae veniam nobis
            quasi? Quasi praesentium aliquid pariatur autem, at labore, distinctio,
            dolores vitae in soluta iusto. Iure provident vel autem facilis esse,
            ipsam, libero nobis iste perferendis ullam optio corporis blanditiis
            accusamus tenetur ipsa dicta nostrum maiores adipisci possimus aliquam
            suscipit! Voluptatibus, inventore omnis maiores, quis quo et aspernatur,
            fugit nemo recusandae iusto voluptate esse eum explicabo. Mollitia architecto
            doloremque alias numquam, asperiores minima voluptatum corporis minus
            repudiandae cum voluptas sint reprehenderit eius. Vero quae esse veniam
            dolorum maxime earum dignissimos nemo nostrum voluptate magnam, unde
            non quibusdam odit eaque! Provident delectus repellendus nulla architecto
            porro aliquam quod temporibus, aliquid dolore! Odit voluptatum eum explicabo
            iste nobis similique totam accusantium, voluptas laborum atque nisi doloremque
            veniam, libero nam fugit in asperiores quo sed et labore fugiat dolore
            ut sit illum? In, quibusdam magnam! Alias, numquam deleniti beatae quae
            laboriosam cum officiis neque sint perspiciatis! Eaque, libero unde ab
            laboriosam asperiores animi dolorum a, pariatur eum vitae aperiam ea
            itaque debitis similique tempore. Saepe perferendis, aperiam quos numquam
            alias doloribus officiis atque eius molestias, praesentium id similique
            vitae nisi dolores natus nam quas animi voluptate odit, obcaecati maiores
            reprehenderit! Provident ad consectetur eligendi neque quasi numquam
            sint at quos, sit perferendis iure est, sequi error amet, dolorem magnam
            vel itaque optio cupiditate. Quos mollitia aliquam ex ad. Ut quaerat,
            sit eum esse amet accusantium consectetur, et quos, numquam neque culpa
            eveniet. Nisi perferendis ipsum magnam veniam eum harum, animi rerum
            quasi culpa porro necessitatibus! Repellendus eveniet cum ipsum laborum
            magni, dolores itaque mollitia facere consequuntur dolorem animi nisi
            dicta atque reprehenderit laudantium deserunt ab asperiores, rerum dignissimos
            sequi delectus minima suscipit tempora? Saepe, voluptatum repellat maiores,
            quas consequuntur modi velit vero nihil ducimus perferendis fugit pariatur
            non reprehenderit veritatis consectetur. Ipsa deserunt magni perferendis
            facere a rem ipsum unde, eligendi alias fugit blanditiis at nesciunt
            id nisi molestias. Totam, vel. Alias architecto mollitia voluptatem quasi
            eum rem delectus aperiam tenetur debitis placeat culpa accusamus autem
            labore fuga quisquam beatae ex dolore nostrum, iure fugiat qui commodi!
            Iure deserunt, sint nemo vero corrupti consequuntur perspiciatis aspernatur
            a ab magnam saepe sit illo inventore expedita architecto, eius eum necessitatibus
            ratione cupiditate id delectus quia. Sequi laboriosam eum nulla autem
            quia voluptatem, placeat pariatur odio sint reprehenderit, laudantium
            aliquid ut odit? Qui inventore reprehenderit rem dolore debitis labore
            repellendus eius error quos excepturi consequatur illo beatae, commodi,
            nam voluptatem deserunt delectus maxime voluptas iste quas optio. Ex.
          </div>
        </div>
        <footer class="card-footer">
          <a href="" class="button card-footer-item is-dark"
            >read more...</a
          >
        </footer>
      </div>




















































      <div class="card mt-6">
        <div class="card-header has-text-centered">
          <p class="card-header-title is-size-4">
            The dog factory
          </p>
        </div>
        <div class="card-content has-background-dark-light">
          <div class="content custom">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              natus labore omnis enim. Sit expedita odio eos quisquam, ad porro
              ut nesciunt odit recusandae in, repellat, repudiandae voluptate
              quibusdam fuga explicabo doloribus ducimus nobis deserunt? Saepe
              placeat labore deleniti facere adipisci aliquam impedit
              repudiandae doloribus ad aperiam distinctio, tenetur, officiis
              minima iste totam quas ea rem suscipit magnam nesciunt? Quidem aut
              quod, similique nisi omnis voluptatum corporis dolorum asperiores
              placeat quam minima quas officiis dolore inventore facilis
              reiciendis necessitatibus unde sed ex mollitia. Repudiandae
              numquam ipsum atque velit obcaecati iusto, suscipit impedit ullam
              officiis fuga, tenetur placeat. Quia asperiores distinctio debitis
              dolorem veniam reprehenderit, doloremque, blanditiis
            </p>

            <p>
              et earum quos provident, eaque eveniet soluta inventore nulla
              necessitatibus. Iusto eligendi quos dolore quaerat fuga sint
              cupiditate fugit similique sit dolorem impedit facere eum ipsum
              rerum labore, veritatis debitis natus illo aliquam adipisci? Ex
              earum expedita quas libero distinctio at quisquam quis eligendi
              possimus et nemo molestias praesentium impedit inventore harum,
              quia natus commodi eos dignissimos cum rem. Earum eius tempora
              delectus vel reprehenderit, voluptas enim expedita. Consectetur
              incidunt beatae ad! Dolor exercitationem consequatur laborum
              necessitatibus ullam quasi culpa laudantium, neque expedita
              cupiditate dolorem laboriosam sunt corporis maxime obcaecati
              magnam quo facilis beatae
            </p>

            <p>
              sed consectetur dolore ducimus earum at unde. Iste quia ipsam in
              qui culpa? Labore deleniti ipsum perferendis laudantium a maiores
              saepe dolorem amet molestias eos. Eos, amet neque veritatis nemo,
              sed tempora temporibus perspiciatis autem molestias iusto suscipit
              quae corporis vel at numquam distinctio ex commodi quidem? Vero
              dignissimos dolores, alias, pariatur dolore qui consequuntur omnis
              maiores dolorum eius veniam modi corrupti illo assumenda!
              Exercitationem recusandae consequatur ducimus quasi aperiam
              officia sunt aspernatur voluptates repellendus tenetur, vitae a
              molestiae, accusantium animi ratione quod consectetur dolores.
              Harum quis neque voluptas recusandae eveniet enim at deleniti
              commodi, quas iusto, facere maxime aliquam, molestias minima minus
              incidunt dolor fugit! Voluptatibus in consectetur ea, ullam
              sapiente possimus! Harum neque aut sunt natus rem autem quaerat,
              fugiat laudantium dolore, unde laborum odio numquam id saepe
              voluptas! Modi nostrum iusto quibusdam commodi amet officia minus
              voluptatibus nisi, alias odit laborum quod numquam at ratione eius
              architecto sed nam reiciendis dolor optio soluta debitis. Porro
              reiciendis facere exercitationem dolorem error quasi amet sed
              praesentium tenetur deleniti. Distinctio incidunt necessitatibus
              vel eaque laboriosam placeat asperiores et minima praesentium
              harum magni adipisci perferendis impedit hic, accusamus cum
              veritatis eligendi blanditiis? Ratione atque harum itaque
              laboriosam ex velit. Deserunt aspernatur
            </p> quam, provident distinctio ullam magni nesciunt tempore officiis
            quas. Qui nam perferendis vitae voluptatem pariatur est doloribus consectetur
            et odio magni. Ut quia fugit mollitia hic at natus ratione! Odit explicabo
            id impedit vitae, quo dolorem eum saepe molestiae voluptatem accusantium!
            At odio mollitia dolore, est, similique in suscipit recusandae vel, adipisci
            cupiditate labore eius pariatur. Veritatis perspiciatis unde qui, dolorem
            quia quaerat vel dolor optio ipsa ratione dicta quidem molestiae aspernatur
            quo commodi laudantium, consequuntur mollitia voluptatum aut atque velit
            praesentium! Ipsum quam unde dolorum eum debitis alias sit, neque eveniet
            eius nisi facere inventore consectetur aliquid nemo repellat quo modi
            dolore asperiores beatae praesentium quaerat consequuntur itaque nobis
            expedita. Voluptates unde in minus sint animi incidunt quisquam voluptas!
            Commodi veniam blanditiis iste ea, quae deleniti cumque, incidunt modi
            veritatis consequuntur maiores ullam alias tenetur, unde quas excepturi
            autem laborum nesciunt qui? Blanditiis iure perspiciatis explicabo quia
            laudantium velit voluptatum, libero ipsa. Porro fugit quibusdam quas
            necessitatibus eum ducimus. Dicta repudiandae aperiam non saepe voluptatibus,
            laudantium ex cumque tempore nam temporibus eveniet sequi labore itaque
            debitis consectetur quam, eligendi accusantium sunt perspiciatis velit
            officiis reprehenderit. Consequatur officiis eius non velit quibusdam
            accusamus quod sed dolores in. Quibusdam velit quis facere ab a explicabo
            veniam deleniti ducimus tempora eius atque natus, omnis expedita doloremque
            aspernatur. Quod minima mollitia blanditiis error iste ab obcaecati soluta
            ducimus, facilis repellat dolorum incidunt praesentium, sequi suscipit
            quae! Dicta ipsa sequi, numquam officia placeat perspiciatis non dolor
            nostrum laboriosam ipsum alias eum quasi sunt velit neque provident quo!
            Vero hic qui numquam corporis ea veniam accusamus odio excepturi? Itaque
            magni nisi ab? Provident odio exercitationem alias nostrum dignissimos
            placeat voluptates cumque, animi fuga tenetur blanditiis quo voluptatem
            neque assumenda nam saepe debitis vel! Alias optio autem expedita ipsa
            esse at dolor iusto eaque reiciendis, ratione repellat, architecto, perferendis
            sint explicabo? Eaque nihil sunt modi laboriosam magni eveniet mollitia
            amet reprehenderit beatae totam! Dolores, quos. Iure maiores dolores
            quia aliquam, sapiente autem perferendis reiciendis cupiditate culpa
            iusto iste ea, a quis, dolor voluptas deserunt eaque delectus ex labore!
            Officia laudantium molestiae similique eos reprehenderit assumenda odio
            repudiandae ipsam? Labore animi voluptate vel dolor mollitia delectus
            perferendis, expedita doloribus nisi maxime molestias quae magnam totam
            accusamus voluptates officia quod quis. Numquam cum quisquam necessitatibus
            maxime libero debitis sit. Voluptatum sapiente voluptas rerum reiciendis
            vero autem officiis quia nulla minima excepturi provident atque, eum
            adipisci? Officia ut consequatur quisquam laborum quod sapiente, fugiat
            sed unde architecto repellendus porro illum quaerat ducimus mollitia
            magni id totam reiciendis exercitationem numquam eius quas atque nisi.
            Placeat consequuntur id, blanditiis tempora exercitationem laudantium.
            Voluptatem placeat vero omnis illo recusandae commodi animi, at maxime
            possimus. Quae, vitae quo. Nemo facilis ab laudantium debitis rerum est
            maxime cum quibusdam explicabo eligendi repellat adipisci, alias delectus
            iusto sed minus enim architecto. Veritatis culpa ab eveniet sit temporibus
            quia, esse aut totam minus quibusdam possimus! Fuga enim esse laborum
            quod autem tempora mollitia temporibus tenetur cum dolore necessitatibus,
            dolorem accusamus. Exercitationem error delectus repellendus, quod, ex
            incidunt assumenda laboriosam nobis voluptate recusandae laborum unde
            nemo at saepe iusto impedit in molestiae veritatis quidem necessitatibus
            debitis animi maxime dolore harum. Esse repudiandae reprehenderit eum
            mollitia nesciunt autem animi officiis deserunt eaque similique quod,
            consectetur a consequatur, at quibusdam non id dignissimos ipsum. Omnis
            quaerat earum nesciunt aperiam voluptatum enim officiis rerum quibusdam
            rem illum, exercitationem tenetur, provident sint! Nam quidem, recusandae
            rem laborum architecto illum, fuga ipsum incidunt, impedit nisi quos
            ipsam voluptatum officia voluptatibus quasi asperiores voluptate praesentium
            hic. Aspernatur ipsam ut excepturi hic sint? Aperiam labore unde repellendus
            illum itaque a totam, magni nemo accusantium animi soluta modi. Maiores
            animi quam repudiandae enim! Necessitatibus reprehenderit maxime ea?
            Repudiandae rem vel natus praesentium laboriosam. Asperiores vel maxime
            soluta cumque officia at laborum aliquid distinctio sit ad, tempora eveniet
            sequi quis molestiae numquam rem quidem mollitia. Eveniet ab voluptates
            quisquam nisi quaerat recusandae enim quia id ipsum similique, laborum
            fuga consectetur tempore perferendis minima commodi eum repellat tempora
            voluptate rerum consequatur aspernatur. Dolorem illum corporis facere
            mollitia voluptatibus provident molestiae quam unde ex, id recusandae
            placeat molestias quas obcaecati a eveniet voluptate. Impedit ut, quaerat
            quae consectetur neque et! Sint magnam tenetur ut ratione vitae, animi
            aspernatur eveniet laborum praesentium tempora minus quae. Temporibus,
            cumque laborum nulla officiis aspernatur non! Nam magni quos, in, tenetur
            asperiores optio quibusdam officia cum fugit fugiat saepe! Aliquid rem
            aperiam eum, hic, voluptatum aut totam minus veritatis temporibus, odio
            vitae eius consectetur delectus laborum? Hic deserunt placeat sapiente
            velit minus blanditiis eum nostrum fugit, impedit, praesentium sequi
            minima. Voluptate sequi perspiciatis alias eligendi aliquam est illum
            ipsa ratione eius odio nam corporis, incidunt deserunt facilis quos tempora
            tempore laboriosam, aperiam tenetur culpa unde rerum? Consequuntur deleniti
            qui culpa dignissimos soluta optio sed, in animi quas illum repellendus
            et expedita asperiores omnis autem veniam accusantium magni recusandae.
            Necessitatibus beatae doloribus quam autem, dignissimos ab ad nobis cumque,
            repudiandae, quae iure alias! Quod sit eius omnis optio asperiores fugiat
            ad vel, laudantium impedit odit possimus, mollitia natus eum doloremque
            beatae, aspernatur maiores error! Dolore ea vel vero accusamus eveniet
            porro pariatur rem sint atque. Accusamus nesciunt eligendi explicabo
            dolores iusto fugiat, cupiditate odio excepturi minus sunt autem, quam
            velit perferendis dolore eaque cumque fugit quae incidunt voluptatem!
            Maiores quis dolorem ipsam minus cum placeat similique sapiente fuga
            iste molestias nam assumenda omnis itaque voluptatem eligendi tenetur
            illum deserunt, suscipit repellendus aut aspernatur officiis quos odit?
            Quibusdam nam dicta quae similique error, quasi assumenda vel officiis
            est, pariatur cupiditate repellat perferendis, et necessitatibus explicabo
            quas reiciendis amet? Reiciendis iusto pariatur eaque earum iure adipisci
            amet nobis totam ab illum, repellat nemo consequatur laborum suscipit
            est, rem culpa voluptatem laudantium asperiores deleniti, perspiciatis
            eum blanditiis odio quas! Nobis ad non voluptatibus adipisci optio iusto.
            Assumenda similique quam hic perferendis incidunt. Libero, sit? A alias
            error laboriosam magni eos libero? Maiores eveniet vero deleniti dicta
            dolorem vitae quisquam hic impedit doloribus ex atque officia iure inventore,
            animi odio, laborum molestias earum quia. Optio nemo, quibusdam delectus
            perspiciatis at repellendus asperiores officia ipsa nihil voluptatem
            ipsam dolores quasi praesentium modi. Libero corporis aut quasi officia
            iusto repellendus eum impedit non neque fugit earum omnis in odit alias,
            numquam nulla eveniet. Sunt quis repudiandae officiis reiciendis harum
            minima dolorem. Quas ullam sint quisquam deserunt, illum cum magni tempore
            architecto accusamus est voluptatum sapiente facere vero laudantium iure,
            obcaecati expedita earum odio ducimus sit! Illum at doloremque provident?
            Quasi enim, architecto excepturi quisquam quidem earum ullam quis optio
            officiis maxime ducimus sed aperiam, nobis ad adipisci ratione error
            atque. Architecto, sint sit facere at dolorem aspernatur et fugiat voluptatum
            quidem quibusdam perferendis ipsa itaque repudiandae odio animi reprehenderit
            adipisci neque quaerat, ut accusantium beatae laudantium consequatur?
            Animi libero, ea dicta corrupti quam, assumenda veritatis quod minima
            officia voluptates repellat error voluptate. Sequi voluptas amet hic
            sed, quam iste numquam necessitatibus porro mollitia, voluptatem ducimus
            laudantium totam facere explicabo dolores. Itaque inventore animi quasi
            vel aspernatur accusantium alias repellendus sed, veniam expedita dolores
            similique, ex beatae ducimus nemo quaerat cumque est blanditiis officiis
            modi rem! Recusandae fugit maiores aliquam mollitia veritatis dolore
            sint ratione nesciunt accusantium illo, non earum, saepe soluta fuga
            necessitatibus eligendi dignissimos consequuntur beatae veniam nobis
            quasi? Quasi praesentium aliquid pariatur autem, at labore, distinctio,
            dolores vitae in soluta iusto. Iure provident vel autem facilis esse,
            ipsam, libero nobis iste perferendis ullam optio corporis blanditiis
            accusamus tenetur ipsa dicta nostrum maiores adipisci possimus aliquam
            suscipit! Voluptatibus, inventore omnis maiores, quis quo et aspernatur,
            fugit nemo recusandae iusto voluptate esse eum explicabo. Mollitia architecto
            doloremque alias numquam, asperiores minima voluptatum corporis minus
            repudiandae cum voluptas sint reprehenderit eius. Vero quae esse veniam
            dolorum maxime earum dignissimos nemo nostrum voluptate magnam, unde
            non quibusdam odit eaque! Provident delectus repellendus nulla architecto
            porro aliquam quod temporibus, aliquid dolore! Odit voluptatum eum explicabo
            iste nobis similique totam accusantium, voluptas laborum atque nisi doloremque
            veniam, libero nam fugit in asperiores quo sed et labore fugiat dolore
            ut sit illum? In, quibusdam magnam! Alias, numquam deleniti beatae quae
            laboriosam cum officiis neque sint perspiciatis! Eaque, libero unde ab
            laboriosam asperiores animi dolorum a, pariatur eum vitae aperiam ea
            itaque debitis similique tempore. Saepe perferendis, aperiam quos numquam
            alias doloribus officiis atque eius molestias, praesentium id similique
            vitae nisi dolores natus nam quas animi voluptate odit, obcaecati maiores
            reprehenderit! Provident ad consectetur eligendi neque quasi numquam
            sint at quos, sit perferendis iure est, sequi error amet, dolorem magnam
            vel itaque optio cupiditate. Quos mollitia aliquam ex ad. Ut quaerat,
            sit eum esse amet accusantium consectetur, et quos, numquam neque culpa
            eveniet. Nisi perferendis ipsum magnam veniam eum harum, animi rerum
            quasi culpa porro necessitatibus! Repellendus eveniet cum ipsum laborum
            magni, dolores itaque mollitia facere consequuntur dolorem animi nisi
            dicta atque reprehenderit laudantium deserunt ab asperiores, rerum dignissimos
            sequi delectus minima suscipit tempora? Saepe, voluptatum repellat maiores,
            quas consequuntur modi velit vero nihil ducimus perferendis fugit pariatur
            non reprehenderit veritatis consectetur. Ipsa deserunt magni perferendis
            facere a rem ipsum unde, eligendi alias fugit blanditiis at nesciunt
            id nisi molestias. Totam, vel. Alias architecto mollitia voluptatem quasi
            eum rem delectus aperiam tenetur debitis placeat culpa accusamus autem
            labore fuga quisquam beatae ex dolore nostrum, iure fugiat qui commodi!
            Iure deserunt, sint nemo vero corrupti consequuntur perspiciatis aspernatur
            a ab magnam saepe sit illo inventore expedita architecto, eius eum necessitatibus
            ratione cupiditate id delectus quia. Sequi laboriosam eum nulla autem
            quia voluptatem, placeat pariatur odio sint reprehenderit, laudantium
            aliquid ut odit? Qui inventore reprehenderit rem dolore debitis labore
            repellendus eius error quos excepturi consequatur illo beatae, commodi,
            nam voluptatem deserunt delectus maxime voluptas iste quas optio. Ex.
          </div>
        </div>
        <footer class="card-footer">
          <a href="" class="button card-footer-item is-dark"
            >read more...</a
          >
        </footer>
      </div>
    </div>
  </div>
</Layout>
