---
const { msgClasses, header } = Astro.props;
---

<div class={msgClasses?.message || ""}>
  <h2 class={msgClasses?.header || ""}>
    <p>{header}</p>
  </h2>
  <div class={msgClasses?.body || ""}>
    <slot />
  </div>
</div>
